<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:targetApi="31">
        <activity
            android:name=".RateAppActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".BranchDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BranchesActivity"
            android:exported="false" />
        <activity
            android:name=".ShareNoteActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ListNotesActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ShowMaterials"
            android:exported="false" />
        <activity
            android:name=".AddMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".AskAI"
            android:exported="false" />
        <activity
            android:name=".CheckDoubt"
            android:exported="false" />
        <activity
            android:name=".ShowDoubts"
            android:exported="false" />
        <activity
            android:name=".DoubtListActivity"
            android:exported="false" />
        <activity
            android:name=".AddDoubtActivity"
            android:exported="false" />
        <activity
            android:name=".AdminRoutineActivity"
            android:exported="false" />
        <activity
            android:name=".RoutineActivity"
            android:exported="false" />
        <activity
            android:name=".CheckAdmin"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".SubjectLeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ExamActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignUP"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>